body{
    font-family: 'poppins', sans-serif;
}

.cabecalho{
    background-color: #b80ae4;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}
.nikola{
    width: 500px;
    position: flex;
    top: 0px;
    left: 20px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.pessoa-musica{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#b80ae4,#a12362);
    color:white;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-titulo{
 padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}
.estudante-icone{
    width: 25px;
}
.estudante-div{
    text-align: center;
    padding: 50px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns:20% 20% 20% 20%;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
